<template name="antiForm_numberField">
  <div class="field {{#if anf_error}}error{{/if}}">
    <label class="label">{{label}}&nbsp;</label>
      <input name="{{name}}"
             placeholder="{{placeholder}}"
             value="{{anf_value}}"
             type="number"/>
      {{#if anf_error}}
        <label>{{anf_error}}</label>
      {{/if}}

  </div>

</template>


