<template name="antiForm_radioButtons">
  <div class="field {{#if anf_error}}error{{/if}}">
    <label class="label">{{label}}&nbsp;</label>
      <span class="ui tiny basic radio buttons {{#if buttonGroupClass}}{{buttonGroupClass}}{{/if}}">
        {{#each options}}
          <span class="ui button {{anf_radioChecked}}">{{label}}</span>
        {{/each}}
      </span>
      <div style="display:none;">
        {{#each options}}
          <input type="radio"
                 name="{{../name}}"
                 value="{{value}}"
                 {{anf_radioChecked}}
                 />
          {{label}}
        {{/each}}
      </div>
      {{#if anf_error}}
        {{# antiForm_errorDescription}}
          {{anf_error}}
        {{/antiForm_errorDescription}}
      {{/if}}

  </div>
</template>
