<template name="antiForm_segment">
  <div class="field {{#if anf_error}}error{{/if}} {{#if segmentClass}}segmentClass{{/if}}">
    <label class="label">{{label}}</label>
    <div class="ui closetop segment">
      {{> UI.contentBlock}}
    </div>
  </div>
</template>

