<template name="antiForm_singleSearchSelection">
    <div class="field {{#if anf_error}}error{{/if}} {{#if class}} {{class}} {{/if}}  ">
        {{#if label}}
            <label class="label">{{label}}&nbsp;</label>
        {{/if}}
        <div class="ui selection dropdown search">
            <input type="hidden" name="{{name}}">

            <div class="default text">{{placeholder}}</div>
            <i class="dropdown icon"></i>

            <div class="menu">
                {{#if anf_value}}
                    {{#each anf_value}}
                        <div class="item" data-value="{{value}}">{{label}}</div>
                    {{/each}}
                {{else}}
                    {{> UI.contentBlock }}
                {{/if}}
            </div>
        </div>
        {{#if anf_error}}
            {{# antiForm_errorDescription}}
                {{anf_error}}
            {{/antiForm_errorDescription}}
        {{/if}}
    </div>

</template>
