<template name="antiForm_textTwoFields">
  <div class="field {{#if anf_error}}error{{/if}}">
    <label class="label">{{label}}</label>

      <div class="two fields">
        <div class="field">
          <input name="{{name1}}"
                 placeholder="{{placeholder1}}"
                 value="{{anf_value1}}"
                 type="text"/>
        </div>
        <div class="field">
          <input name="{{name2}}"
                 placeholder="{{placeholder2}}"
                 value="{{anf_value2}}"
                 type="text"/>
        </div>
      </div>
      {{#if anf_error}}
          {{# antiForm_errorDescription}}
              {{anf_error}}
          {{/antiForm_errorDescription}}
      {{/if}}
    
  </div>
</template>
