<template name="antiForm_textArea">
  <div class="field {{#if anf_error}}error{{/if}}">
    <label class="label">{{label}}&nbsp;</label>
      <textarea class="ui little textarea"
                name="{{name}}"
                placeholder="{{placeholder}}"
                type="text">{{anf_value}}</textarea>
      {{#if anf_error}}
          {{# antiForm_errorDescription}}
              {{anf_error}}
          {{/antiForm_errorDescription}}
      {{/if}}
  </div>

</template>

