<template name="antiForm_textField">
  <div class="field {{#if anf_error}}error{{/if}}">
    <label class="label">{{label}}&nbsp;</label>
      <input name="{{name}}"
             placeholder="{{placeholder}}"
             value="{{anf_value}}"
             type="text"

              />
      {{#if anf_error}}
          {{# antiForm_errorDescription}}
              {{anf_error}}
          {{/antiForm_errorDescription}}
      {{/if}}
  </div>

</template>

