<template name="antiForm_toggle">
  <div class="field {{#if anf_error}}error{{/if}}">
    <label>{{label}}</label>
    <div class="ui mini {{color}} toggle checkbox">
      <input name="{{name}}" type="checkbox" {{anf_checked}}/>
      <label>&nbsp;</label>
    </div>
    {{#if desc}}
      <span class="ui secondary text" style="position: absolute; left: 12rem; line-height: 1.5rem">{{desc}}</span>
    {{/if}}
  </div>
</template>

